<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en">
  <head>
    <!-- ***** Head ***** -->
    <%- include("../components/head") %>
  </head>
  <body class="shadow-none">
    <!-- ******* Sidebar ****** -->
    <%- include("../components/sidebar") %>

    <!-- Content -->
    <section class="home-section">
      <!-- ***** Navbar ****** -->
      <%- include("../components/navbar") %>

      <!-- ****** Content ******* -->
      <div
        class="container-fluid content"
        style="
          width: 100%;
          padding: 20px;
          background-color: #f4f5f7;
          padding-top: 100px;
          position: absolute;
        "
      >
        <div class="d-flex gap-2">
          <p class="text"><strong><%= page %> &gt; </strong></p>
          <p class="text"><%= page1 %></p>
          <p class="text"><%= page2 %></p>
        </div>
        <h3 style="margin-top: 20px"><%= page2 %></h3>

        <%- body %>
      </div>
    </section>

    <%- include("../components/script") %>
  </body>
</html>
