<meta charset="UTF-8" />
<title>BCR | <%- page %></title>
<link rel="stylesheet" href="style.css" />
<!-- Boxiocns CDN Link -->
<link
  href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
  rel="stylesheet"
/>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="datatables/dataTables.bootstrap4.css" />
<link rel="stylesheet" href="datatables/dataTables.bootstrap4.min.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
