<div
  class="home-content"
  style="
    background-color: #fff;
    width: 100%;
    height: 70px;
    z-index: 998;
    box-shadow: 0px 0px 2px 0px #0000000d;
    position: fixed;
  "
>
  <i class="bx bx-menu" style="position: absolute"></i>

  <!-- <form class="d-flex ms-auto form">
    <input
      class="form-control"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="btn btn-outline-primary" type="submit">Search</button>
  </form> -->
</div>
