<div class="sidebar close" style="z-index: 9; padding-left: 20px">
  <div class="logo-details">
    <i class="bx bxs-spa"></i>
    <span class="logo_name">BCR</span>
  </div>
  <ul class="nav-links">
    <li>
      <div class="iocn-link">
        <a href="#" class="d-block gap-5">
          <h3
            class="link_name"
            style="
              font-size: 18px;
              color: #aaaaac;
              font-weight: bold;
              margin-top: 0px;
              margin-bottom: 20px;
              padding-left: 80px;
            "
          >
            Cars
          </h3>
          <div
            class="container-span"
            style="
              background: #cfd4ed;
              width: 100%;
              height: 45px;
              position: absolute;
              padding-top: 10px;
            "
          >
            <span
              class="link_name"
              style="
                font-size: 14px;
                color: #2f2f30;
                font-weight: bold;
                padding-left: 80px;
              "
            >
              Car List
            </span>
          </div>
        </a>
      </div>
    </li>
  </ul>
</div>
<div class="sidebar" style="z-index: 1000; background: #0d28a6; width: 78px">
  <div class="logo-details">
    <i class="bx bxs-spa"></i>
  </div>
  <ul class="nav-links">
    <!-- <li>
      <div class="iocn-link menu">
        <a href="/" class="menu-link d-block">
          <i class="bx bxs-home" style="font-size: 32px"></i>
          <span
            class="link_name text-white"
            style="position: relative; left: 4px; bottom: 18px; font-size: 12px"
            >Dashboard</span
          >
        </a>
      </div>
    </li> -->
    <li>
      <div class="iocn-link menu active">
        <a href="/" class="d-block btn-active">
          <i class="bx bxs-car" style="font-size: 32px"></i>
          <span
            class="link_name text-white"
            style="
              position: relative;
              left: 23px;
              bottom: 18px;
              font-size: 14px;
            "
            >Cars
          </span>
        </a>
      </div>
    </li>
  </ul>
</div>
