<div class="row mt-5">
  <form action="/add" method="post" enctype="multipart/form-data">
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Nama</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="car_name"
          name="car_name"
          style="width: 50%"
          required
        />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label"
        >Sewa Per Hari</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="price"
          name="price"
          style="width: 50%"
          required
        />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Ukuran</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="car_size"
          name="car_size"
          style="width: 50%"
          required
        />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Foto</label>
      <div class="col-sm-10">
        <input
          type="file"
          class="form-control"
          id="image"
          name="image"
          style="width: 50%"
          required
        />
      </div>
    </div>

    <div class="d-flex" style="margin-top: 100px; margin-bottom: 40px">
      <button type="button" class="btn btn-outline-primary me-3">Cancle</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
