<div
  class="btn btn-primary"
  style="position: absolute; right: 25px; top: 150px"
>
  <i class="bx bx-plus"></i>
  <a href="/add" class="text-white" style="text-decoration: none">
    Add New Car</a
  >
</div>
<div class="d-flex gap-2 mt-3">
  <form action="/" method="get">
    <button type="submit" name="all" value="" class="btn btn-outline-primary">
      All
    </button>
    <button
      type="submit"
      name="small"
      value="small"
      class="btn btn-outline-primary"
    >
      Small
    </button>
    <button
      type="submit"
      name="medium"
      value="medium"
      class="btn btn-outline-primary"
    >
      Medium
    </button>
    <button
      type="submit"
      name="large"
      value="large"
      class="btn btn-outline-primary"
    >
      Large
    </button>
  </form>
</div>
<div class="row mt-4">
  <% item.forEach(car => { %>
  <div class="col-lg-4 mb-4">
    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="text-center mb-5">
          <img
            class=""
            style="width: 100%; height: 13rem; object-fit: cover"
            src=""
            alt="..."
          />
        </div>
        <p><%= car.car_name %> / <%= car.car_type %></p>
        <p class="text-gray-900" style="font-weight: bold">
          Rp. <%= car.price %> / hari
        </p>
        <div>
          <i
            class="fas fa-clock fa-sm text-black-100"
            style="font-size: 18px; margin-right: 5px"
          ></i>
          <span>updated at <%= car.updatedAt %> </span>
        </div>

        <div class="d-flex justify-content-between mt-4">
          <button
            class="btn btn-outline-danger"
            style="width: 48%"
            type="submit"
            href=""
          >
            <i
              class="fas fa-trash fa-sm text-black-100"
              style="font-size: 18px; margin-right: 5px"
            ></i>
            Delete
          </button>
          <a class="btn btn-success" style="width: 48%" type="submit" href="">
            <i
              class="fas fa-pen fa-sm text-black-100"
              style="font-size: 18px; margin-right: 10px"
            ></i
            >Edit
          </a>
        </div>
      </div>
    </div>
  </div>
  <% }) %>
</div>
